<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Exemplo</title>
    <link rel="stylesheet" th:href="@{/css/bonito.css}">
</head>
<body>

    <div class="navbar">
        <button>Home</button>
        <button>Sobre</button>
        <button>Contato</button>
        <button onclick="window.location.href='usuarios/cadastro'">Cadastrar</button>
        <button onclick="window.location.href='usuarios/login'">Login</button>
    </div>

    <div class="content">
        Hello World
    </div>

</body>
</html>
