<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/_layout :: header('Editar Usuário - Admin', '/css/lista-usuarios.css')}">
</head>

<body class="admin-gamer-theme">

<nav th:replace="~{fragments/_layout :: navbar}"></nav>

<div class="container form_container mt-4"> <h1>Editar Usuário</h1>

    <form th:action="@{/administracao/editar/{id}(id=${usuario.idPadrao})}" th:object="${usuario}" method="post">
        <div class="form_grupo mb-3"> <label for="nome" class="form_label">Nome:</label> <input type="text" id="nome" class="form_input form-control" th:field="*{nome}" required/>
        </div>

        <div class="form_grupo mb-3">
            <label for="apelido" class="form_label">Apelido:</label> <input type="text" id="apelido" class="form_input form-control" th:field="*{apelido}" required/>
        </div>

        <div class="form_grupo mb-3">
            <label for="email" class="form_label">Email:</label> <input type="email" id="email" class="form_input form-control" th:field="*{email}" required/>
        </div>

        <div class="form_grupo mb-4"> <label for="roles" class="form_label">Role:</label> <select multiple id="roles" class="form_input form-control" th:field="*{roles}">
            <option th:each="r : ${rolesDisponiveis}" th:value="${r}" th:text="${r}"></option>
        </select>
        </div>

        <div class="form_button">
            <button type="submit" class="btn btn-success w-100">Salvar Alterações</button> </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="modal fade" id="nicknameErroModal" tabindex="-1" aria-labelledby="nicknameErroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"> <div class="modal-content"> <div class="modal-header">
        <h5 class="modal-title" id="nicknameErroModalLabel">Erro na Edição</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
    </div>
        <div class="modal-body">
            O apelido informado já está em uso. Por favor, escolha outro.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
    </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const erroApelido = /*[[${erroApelido}]]*/ false;
        if (erroApelido) {
            const modal = new bootstrap.Modal(document.getElementById('nicknameErroModal'));
            modal.show();
        }
    });
</script>

</body>
</html>