<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div class="navbar">
        <a href="/"><button type="button">Voltar</button></a>
    </div>

    <h1>Cadastro de Usuário</h1>
    <form action="/usuarios/cadastro" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>  

        <label>Nome:</label><br>
        <input type="text" name="nome" required><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br>

        <label>Apelido:</label><br>
        <input type="text" name="apelido" required><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" required><br><br>

        <button type="submit">cadastro</button>
    </form>
</body>
</html>
