<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
    <link rel="stylesheet" th:href="@{/css/bonito.css}">
    <title>Login</title>
</head>
<body>
<div class="navbar">
    <button onclick="window.location.href='/'">Home</button>
    <button onclick="window.location.href='/outros/sobre'">Sobre</button>
    <button onclick="window.location.href='/usuarios/cadastro'">Cadastrar</button>
</div>

<div class="separacao"></div>

    <div class="container_form">
        <h1>Login</h1>

        <form action="/usuarios/logar" method="get" th:action="@{/usuarios/logar}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        
        <div class="form_grupo">
            <label for="username" class="form_label">Nickname:</label><br>
            <input type="text" id="username" class="form_input" name="username" required/><br><br>
        </div>

        <div class="form_grupo">
            <label for="senha" class="form_label">Senha:</label><br>
            <input type="password" id="senha" class="form_input" name="password" required/><br><br>
        </div>

        <div class="form_grupo">
            <button type="submit">Entrar</button>
        </div>
    </form>

    <div class="form_grupo">
        <label class="form_label">Não tem uma conta? <a href="/usuarios/cadastro" class="link">Cadastre-se aqui</a></label>
    </div>
</div>

</body>
</html>
